<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.person.other') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.person.name') %></th>
      <th><%= t('activerecord.attributes.person.paper_number') %></th>
      <th><%= t('activerecord.attributes.person.birth_date') %></th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.paper_number %></td>
        <td><%= l(person.birth_date) %></td>
        <th><%= link_to t('people.animals'), person_animals_path(person) %></th>
        <td><%= link_to t(:show), person %></td>
        <td><%= link_to t(:edit), edit_person_path(person) %></td>
        <td><%= link_to t(:edit), edit_person_path(person) %></td>
        <td>
          <%= link_to t(:destroy), person,
            method: :delete, data: { confirm: t(:confirm) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to t(:new, model: t('activerecord.models.person.one')),
    new_person_path %>
</div>

<div>
  <%= link_to t(:back), home_index_path %>
</div>
